<section>
  <h1><%= user.username %></h1>
  <hr>
</section>

<div class="container">
  <img src="<%= user.profileImageSRC %>" alt="<%= user.username %>" class="profileImage"><br>
  <h5 class="fullname"><strong>Fullname:</strong> <%= user.firstname + ' ' + user.lastname %></h5>
  <h5 class="email"><strong>Email:</strong> <%= user.email%></h5>
  <hr>
  <div class="accountButtons">
    <% if(locals.isAuthenticated && (user.id == user.id)) { %>
      <a href="/users/<%= user.id %>/edit" class="buttons">Edit Account</a>
      <!-- <form method="POST" action="/profile">
        <input type="hidden" name="_method" value="DELETE">
        <button class="buttons">Delete Account</button>
      </form> -->
    <% } %>
  </div>
</div>

<hr>

<div class="container">
  <h2> Gallery</h2>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <% if(locals.isAuthenticated && (user.id == user.id)) { %>

        <form method="POST" action="/users/<%= user.id %>/images" enctype="multipart/form-data" class="feedImages">

          <div class="form-group">
            <input id="userFeed" type="file" name="userFeed">
          </div>

          <div class="form-group">
            <label for="caption">Caption</label>
            <textarea name="caption" id="caption" class="form-control"></textarea>
          </div>

          <button class="buttons">Upload</button>

        </form>

      <% } %>
    </div>

    <div class="col col-md-8">
      <div class="row">
        <% user.images.forEach((image) => { %>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <img
              src="<%= image.src %>" alt="<%= image.caption %>"
              class="img-fluid img-thumbnail"
              data-toggle="modal"
              data-target="#userFeedModal">
          </div>

          <div class="modal fade" id="userFeedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <small><%=user.username %></small>
                </div>

                <div class="modal-body">
                  <img src="<%= image.src %>" alt="<%= image.caption %>" class="img-fluid">
                  <p class="caption">Caption: <%= image.caption %></p>
                </div>

                <div class="modal-footer">
                  <% if(locals.isAuthenticated && (user.id == user.id)) { %>
                    <form method="POST" action="/users/<%=user.id%>/images/<%=image.id%>">
                      <input type="hidden" name="_method" value="DELETE">
                      <button class="buttons">Delete</button>
                    </form>
                  <% } %>
                  <button type="button" data-dismiss="modal" class="buttons">Close</button>
                </div>

              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

  </div>
</div>
