<section>
  <h1><%= user.username %></h1>
  <hr>
</section>

<div class="container">
  <img src="<%= user.profileImageSRC %>" alt="<%= user.username %>" class="profileImage"><br>
  <h5 class="fullname"><strong>Fullname:</strong> <%= user.firstname + ' ' + user.lastname %></h5>
  <h5 class="email"><strong>Email:</strong> <%= user.email%></h5>
  <hr>
  <div class="accountButtons">
    <% if(locals.isAuthenticated && (user.id == user.id)) { %>
      <a href="/users/<%= user.id %>/edit" class="buttons">Edit Account</a>
      <!-- <form method="POST" action="/profile">
        <input type="hidden" name="_method" value="DELETE">
        <button class="buttons">Delete Account</button>
      </form> -->
    <% } %>
  </div>
</div>
