<section>
  <h1><%= resort.name %></h1>
</section>
<div class="container">
  <div>
    <hr>
    <img src="<%= resort.imageSRC %>" alt="<%= resort.name %>" class="profile">

    <% if(locals.isAuthenticated && resort.ownedBy(user)) { %>
      <div>
        <a href="/resorts/<%= resort.id %>/edit" class="buttons delete-form">Edit Resort</a>
        <form action="/resorts/<%= resort.id %>" method="POST" class="delete-form">
          <input type="hidden" name="_method" value="DELETE"/>
          <button class="buttons">Delete Resort</button>
        </form>
      </div>
    <% } %>

    <hr>

    <p><a href="http://<%= resort.website %>" target="_blank"><strong>Visit resort webpage</strong><a/></p>
    <br>
    <p><strong>Lifts: </strong><%= resort.lifts %></p>
    <p><strong>Country: </strong><%= resort.country %></p>
    <p><strong>City: </strong><%= resort.city %></p>
    <p><strong>Rating: </strong><%= resort.rating %></p>
    <strong>Created By: </strong><small><%= resort.createdBy.username %></small>
  </div>
</div>

<div class="container">
  <h3 class="caption">Weather Conditions</h3>
  <hr>
  <img src="/assets/images/logos/openweather.png" type"image/png" alt="openweather" id="openweather">
  <div id="weather" data-lat="<%= resort.lat %>" data-lng="<%= resort.lng %>"></div>
  <hr>
</div>

<div class="container">
  <h3 class="caption">Comments</h3>
  <hr>
  <% resort.comments.forEach((comment) => { %>
    <p><%= comment.content %></p>
    <small><strong>Created By: </strong><%= comment.createdBy.username %></small>

    <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
      <form method="POST" action="/resorts/<%= resort.id %>/comments/<%= comment.id %>" class="delete-form comments">
        <input type="hidden" name="_method" value="DELETE">
        <button class="buttons">Delete</button>
      </form>
    <% } %>
  <% }) %>
</div>

<hr>
<div class="container">
  <% if(locals.isAuthenticated) { %>
    <form method="POST" action="/resorts/<%= resort.id %>/comments">
      <textarea name="content" id="content" rows="2" cols="20" class="form-control"></textarea>
      <button class="buttons submit">Leave a Comment</button>
    </form>
  <% } %>

  <hr>

  <div id="location">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div id="map" data-lat=<%= resort.lat %> data-lng=<%= resort.lng %>></div>
      </div>
    </div>
  </div>
  <hr>
</div>
